@charset "utf-8";

html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
	padding: 60px 0;
}


/* RECRUIT-TOPPAGE */

.top-page {
    display: flex;
    justify-content: center;
    /* background: #eee; */
    padding: 0;
}
.top-page img {
    width: 4em;
    height: auto;
}
.top-page p {
    font-size: 1.2em;
    color: #717171;
    padding-left: 6px;
    letter-spacing: .5px;
}
.recruit-box {
    margin-top: 2.4em;
    justify-content: center;
    display: flex;
    gap: 22px;
    color: #717171;
}
.salon-box {
	width: 30%;
    /* height: 300px; */
    background: #eee;
	overflow:		hidden;
	margin:			10px 8px 10px 16px;
	position:		relative;
    border-radius: 20px;
}
.salon-box .caption {
	font-size:		1em;
	color:			#717171;
	padding-top:		30px;
	text-align: 		center;
}
.salon-box .mask {
	width: 100%;
	height: 50px;
	position: absolute;
	top: -50px;	/* 枠の上に置いて表示しない */
	left: 0;
	background-color:	#eee;
	-webkit-transition:	all 0.4s ease;
	transition:		all 0.4s ease;
}
.salon-box:hover .mask {
	top: 0px;	/* 下に降りてくるように見せる */
}
.salon-box img {
	-webkit-transition:	all 0.4s ease;
	transition:		all 0.4s ease;
	-webkit-transform:	scale(1.2);	/* 1.2倍の大きさで表示 */
	transform:		scale(1.2);
    border-radius: 20px;
}
.salon-box:hover img {
	margin-top:		10px;			/* 画像の絵を下にずらす */
	-webkit-transform:	scale(1);	/* 元の大きさに戻す */
	transform:		scale(1);
}
.salon-box p {
    margin: 0;
    padding: 1em 0;
    text-align: center;
    background: #eee;
    border-radius: 20px 20px 0 0;
    letter-spacing: .5px;
    height: 40px;
}


.eyelash-box {
	width: 30%;
    /* height: 300px; */
    background: #eee;
	overflow:		hidden;
	margin:			10px 8px 10px 16px;
	position:		relative;
    border-radius: 20px;
}
.eyelash-box .caption {
	font-size:		1em;
	color:			#717171;
	padding-top:		30px;
	text-align: 		center;
}
.eyelash-box .mask {
	width: 100%;
	height: 50px;
	position: absolute;
	top: -50px;	/* 枠の上に置いて表示しない */
	left: 0;
	background-color:	#eee;
	-webkit-transition:	all 0.4s ease;
	transition:		all 0.4s ease;
}
.eyelash-box:hover .mask {
	top: 0px;	/* 下に降りてくるように見せる */
}
.eyelash-box img {
	-webkit-transition:	all 0.4s ease;
	transition:		all 0.4s ease;
	-webkit-transform:	scale(1.2);	/* 1.2倍の大きさで表示 */
	transform:		scale(1.2);
    border-radius: 20px;
}
.eyelash-box:hover img {
	margin-top:		10px;			/* 画像の絵を下にずらす */
	-webkit-transform:	scale(1);	/* 元の大きさに戻す */
	transform:		scale(1);
}
.eyelash-box p {
    margin: 0;
    padding: 1em 0;
    text-align: center;
    background: #eee;
    border-radius: 20px 20px 0 0;
    letter-spacing: .5px;
    height: 40px;
}

a {
	text-decoration: none;
	color: #717171;
}

@media screen and (max-width:768px) {
	.recruit-box {
		display: block;
	}
	.salon-box {
		
	}
}


/* HAIR SALON RECRUITSITE */

.top-page-hair {
    display: flex;
    justify-content: center;
    background: #fff;
    padding: 28px 0 24px 0;
}
.top-page-hair img {
    width: 3.8em;
    height: auto;
}
.top-page-hair p {
    font-size: 1em;
    color: #717171;
    padding-left: 6px;
    letter-spacing: .5px;
}


.main-visual-hair {
	width: 80%;
	height: 388px;
	background: #eee;
	border-radius: 24px;
	margin: 0 auto;
}
.main-visual-hair h1 {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #717171;
	width: 280px;
	text-align: center;
	font-weight: normal;
	color: #717171;
	position: relative;
	top: 150px;
	left: 100px;
	font-size: 1.8em;
}

.main-visual-hair p {
	margin: 0;
	padding: 0;
	color: #717171;
	position: relative;
	top: 160px;
	left: 100px;
	font-size: .8em;
}

.section-hair-01 {
	margin-top: 190px;
	text-align: center;
	color: #717171;
}
.section-hair-01 h2 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	letter-spacing: .5px;
}
.first-text {
	margin-top: 64px;
	letter-spacing: .5px;
}
.second-text,
.third-text {
	margin-top: 42px;
	line-height: 2;
}

.vision-hair-salon {
	margin-top: 220px;
}
.salon-line-left {
	border: 1px solid #717171;
	width: 32vw;
	position: relative;
	top: 22px;
	left: 100px;
	margin-right: auto;
}
.salon-line-right {
	border: 1px solid #717171;
	width: 32vw;
	position: relative;
	top: 22px;
	right: 100px;
	margin-left: auto;
}
.border-hide {
	width: 20vw;
	height: 50px;
	background: #fff;
	margin: 0 auto;
}
.vision-hair-salon p {
	text-align: center;
	margin: 0;
	padding: 0;
}
